@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

header {
    color: black;
    background-color: #edebe6;
    grid-area: header;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    height: 100%;
}

header:hover {
    color: pink;
}

footer {
    grid-area: footer;
    background-color: white;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

nav {
    grid-area: nav;
    background-color: #edebe6;
    border-right: 1px solid pink;
    margin: 2px;
    padding: 2px;
}

/*
main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
*/

main {
    grid-area: main;
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.article-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
}

.article-middle {
    grid-area: article-middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: dimgrey;
}

.article-bottom {
    grid-area: article-bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: tan;
}

aside {
    grid-area: aside;
    background-color: #edebe6;
    margin: 2px;
    padding: 2px;
    border-left: 1px solid pink;
}

.box {
    width: 50px;
    height: 50px;
    background-color: pink;
    border: 1px solid green;
}

.container {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px repeat(6, 1fr) 50px;
    /* grid-auto-rows: 50px minmax(100px, auto) 50px; */
    grid-template-areas:
        "header header header header header header"
        "nav main main main main aside"
        "nav main main main main aside"
        "nav main main main main aside"
        "nav main main main main aside"
        "nav main main main main aside"
        "nav main main main main aside"
        "footer footer footer footer footer footer";
}

.yellow-rectangle{
    grid-area: 4/4/6/6;
    background-color: yellow;
    color: red;
    border-radius: 25px;
}

.purple-rectangle {
    grid-area: 3/3/4/4;
    background-color: purple;
    border-radius: 45%;
    z-index: -1;
}

.white-rectangle {
    background-color: white;
}

.aside-section {
    font-family: Helvetica;
    background-color: white;
    color:black;
    border-radius: 5%;
    margin: 2px;
    padding: 2px;
}

/*
.aside-section > h4 {
    color: pink;
}
*/

.aside-section > ul {
    font-size: 0.5em;
}

.aside-section:hover {
    background-color: pink;
    color: white;
}

.article-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    /* "title title" */
    "image image"
    "image image"
    "image image"
    "image image"
    "image image"
    "date author";
    width: 25vw;
    height: 40vh;
    background-color: blue;
    border: 1px solid red;
}

.title-article {
    grid-area: title;
    background-color: lightblue;
}

.image-article {
    grid-area: image;
    border: 3px solid orange;
    text-align: center;
}

.image-article:hover{
    transform: translate(0,-10px);
    /* transform: rotate(10deg); */
    transition: transform 1s;
}

img {
    height: 100%; 
    width: auto;
}

figcaption {
    font-family: Helvetica, sans-serif;
    color: black;
    width: auto;
    font-size: 0.8em;
}

figure {
    text-align: center;
    margin: 0;
}

.polaroid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "image-pola"
    "image-pola"
    "image-pola"
    "caption-pola";
    width:20vw;
    height:40vh;
    background-color: #edebe6;
    border: 1px solid black;
    transform: rotate(-3deg);
}

.img-pola {
    grid-area: image-pola;
    background-color: black;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.caption-pola {
    grid-area: caption-pola;
    color: black;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: auto;
}

.polaroid:hover {
    transform: rotate(0deg);
    transform: translate(0,-25px);
    box-shadow: 10px 5px 15px black;
    transition: transform 0.5s, box-shadow 0.3s;
}

.caption-pola:hover{
    color: orange;
}

.love-class {
    color: red;
}

a {
    text-decoration: none;
}

.latest-comment {
    font-size: 0.8em;
    font-style: italic;
}

.aside-section > p:hover{
    color: black;
}

.article-image {
    width: 80%;
    height: auto;
}

article {
    border-bottom: 1px solid black;
}

.author {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 1fr 1fr 2fr;
    grid-template-areas: 
    "image-author"
    "name-author"
    "title-author"
    "company-author"
    "bio-author";
    margin-top: 20px;
    background-color: pink;
    color: white;
    margin-left: 1px;
    margin-right: 1px;
}

.avatar-author {
    grid-area: image-author;
    background-color: green;
}

.name-author {
    grid-area: name-author;
    margin: auto;
}

.title-author {
    grid-area: title-author;
    margin: auto;
}

.company-author {
    grid-area: company-author;
    margin: auto;
}

.bio-author {
    grid-area: bio-author;
    margin: auto;
    padding: 2px;
}

.pic-author {
    height: 100%;
    width: 100%;
}