@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('./author_card.css');
@import url('./image_handler.css');
@import url('./articles.css');

header:hover {
    color: pink;
}

footer {
    grid-area: footer;
    background-color: pink;
    font-family: Helvetica, sans-serif;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.love-class {
    color: red;
    white-space: pre;
}

@media(min-width: 901px){
    header {
        color: black;
        background-color: #edebe6;
        grid-area: header;
        font-family: Helvetica, sans-serif;
        font-size: 2em;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .main-container {
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        /* width: 100vw; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50px repeat(6, 1fr) 50px;
        /* grid-auto-rows: 50px minmax(100px, auto) 50px; */
        grid-template-areas:
            "header header header header header header"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "footer footer footer footer footer footer";
    }
    
    nav {
        grid-area: nav;
        background-color: #edebe6;
        border-right: 1px solid pink;
        margin: 2px;
        padding: 2px;
        font-size: 1em;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        grid-auto-rows: minmax(300px, auto);
    }

    aside {
        grid-area: aside;
        background-color: #edebe6;
        margin: 2px;
        padding: 2px;
        border-left: 1px solid pink;
    }
}

@media(min-width: 601px) and (max-width: 900px){
    header {
        color: black;
        background-color: #edebe6;
        grid-area: header;
        font-family: Helvetica, sans-serif;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-container {
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        /* width: 100vw; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50px repeat(6, 1fr) 50px;
        /* grid-auto-rows: 50px minmax(100px, auto) 50px; */
        grid-template-areas:
            "header header header header header header"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "nav main main main main aside"
            "footer footer footer footer footer footer";
    }

    nav {
        grid-area: nav;
        background-color: #edebe6;
        border-right: 1px solid pink;
        margin: 2px;
        padding: 2px;
        font-size: 1em;
    }
    
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        grid-auto-rows: minmax(auto, 220px);
    }

    aside {
        grid-area: aside;
        background-color: #edebe6;
        margin: 2px;
        padding: 2px;
        border-left: 1px solid pink;
        font-size: 1em;
    }
}

@media(max-width: 600px){
    header {
        color: black;
        background-color: #edebe6;
        grid-area: header;
        font-family: Helvetica, sans-serif;
        height: 100%;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-container {
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        /* width: 100vw; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 25px 50px repeat(4, 1fr) minman(25px, auto) 25px;
        /* grid-auto-rows: 50px minmax(100px, auto) 50px; */
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "main main main main main main"
            "aside aside aside aside aside aside"
            "footer footer footer footer footer footer";
    }

    nav {
        grid-area: nav;
        background-color: #edebe6;
        border-right: 1px solid pink;
        margin: 2px;
        padding: 2px;
        font-size: 1em;
    }
    
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        grid-auto-rows: minmax(auto, 120px);
    }

    aside {
        grid-area: aside;
        background-color: #edebe6;
        margin: 2px;
        padding: 2px;
        font-size: 1em;
    }
}

.aside-section {
    font-family: Helvetica;
    background-color: white;
    color:black;
    border-radius: 5%;
    margin: 2px;
    padding: 2px;
}

.aside-section > ul {
    font-size: 0.5em;
}

.aside-section:hover {
    background-color: pink;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}

.latest-comment {
    font-size: 0.8em;
    font-style: italic;
}

.aside-section > p:hover{
    color: black;
}